<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MVVM-TODO</title>
</head>
<body>
    <div>
        <div for-each="todoListItems">
            <div id="todo-loader">Loading...</div>
        </div>
        <label for="new-item">
            New item:
        </label>
        <input type="text" data-bind="newItem" id="new-item">
    </div>
</body>
</html>